a {
	color:black;
	list-style-type: none;
}

img {
	max-width: 100%;
}

.header-main {
	width: 100%;
	background-color: white;
	color:black;
	background-image: url(https://i.pinimg.com/originals/9e/ec/3c/9eec3cd5c2a2064be3005409dca25f01.jpg);
	background-size: cover;
	border-top:2px solid red;
	border-bottom:2px solid red;
}

.button-nav {
	border-radius:0; 
	border:0;
	gap:2px; 
	width:calc(100%/3 - 4px);
}

.logo {
	width: 25vw;
}

@media only screen and (max-width: 800px){
	.logo {
		 width: 45vw;
	}
}

@media only screen and (max-width: 700px){
	.logo {
		width: 80vw;
	}
}

@media only screen and (max-width: 508px){
	.browser-wrapper {
		 flex-direction: column;
	}

	.button-nav {
		width:100%;
	}
}